@charset "UTF-8";
*{margin:0;padding:0;list-style: none;}
body{font:16px "Microsoft YaHei", Arial, Helvetica, sans-serif;}
.container::after,.clearfix::after{content:"";display: block;clear: both;}
.fl{float: left;}
.fr{float: right;}


img{display: block;width:100%;height: auto;max-width: 100%;}
/*nav 定义样式*/
.nav-container{position: relative;}
.fixed{width: 100%;position: fixed;background-color: #fff;z-index: 1;}
.nav-container .fl{padding:20px 0;}
.nav-container ul{margin-right:-26px;margin-top:50px;}
.nav-container ul li{float:left;padding:0 26px;border-right:1px solid #c9c9c9;line-height: 16px;}
.nav-container ul li:last-child{border-right:none;}
.nav-container a{text-decoration: none;color:#666;font-size: 16px;}
.nav-xl{
	position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transition: .3s all;
    display: none;
}
.nav-xl span{
	display: block;
	width:24px;
	height:2px;
	background-color:#339999;
	margin:4px 0;
	transition: .3s all;
}
.nav-xl-m span:nth-child(1){
	-webkit-transform: translate(0px,6px) rotate(45deg);
	-ms-transform: translate(0px,6px) rotate(45deg);
	transform: translate(0px,6px) rotate(45deg);
	transition: .3s all;
}
.nav-xl-m span:nth-child(2){
	display: none;
}
.nav-xl-m span:nth-child(3){
	-webkit-transform: translate(0px,0px) rotate(-45deg);
	-ms-transform: translate(0px,0px) rotate(-45deg);
	transform: translate(0px,0px) rotate(-45deg);
	transition: .3s all;
}
/* banner 定义样式 */
.banner{height:700px;background:url(../img/banner.jpg) no-repeat center center;background-size: cover;}
/* 我们是谁 定义样式 */
.us-container{padding:60px 0;}
.us-container .container{position: relative;}
.us-container .fl{padding-left:120px;}
.us-container .fl h2{line-height: 50px;color:#339999;font-size: 36px;}
.us-container span{position: absolute;width:94px;height:94px;background-color: #f5f5f5;border-radius: 50%;left:calc(50% - 47px);top:calc(50% - 47px);}
.us-container span::before,.us-container span::after{content: "";position: absolute;height:3px;background-color:#69dddf;}
.us-container span::before{width:66px;left:calc(50% - 33px);top:50px;}
.us-container span::after{width:20px;top:46px;right:10px;transform: rotate(30deg);}
.us-container .fl p{line-height: 40px;color:#666;font-size: 24px;margin-top:14px;}

/* 我们能做什么 定义样式 */
.do-container,.do-container .container{height:500px;position: relative;}
.do-container{min-height:500px;background: url(../img/bg1.jpg) no-repeat center center;/* background-attachment: fixed; */}
.do-container .do-title{position: absolute;top:calc(50% - 88px);margin-left:285px;}
.do-container .do-title h2{font-size:24px;color:#666;}
.do-container .do-title p{font-size: 82px;color:#69dddf;}
.do-container .do-title::after{content: "";position: absolute;width:251px;height:27px;background: url(../img/right.png);top:50px;left:-40px;}
.do-box{width:390px;margin-top:43px;margin-right:180px;}
.do-box .list{width:98px;height:98px;background-color: #fff;border-radius: 50%;display: flex;margin:20px 16px;box-shadow: 0px 6px 8px -2px #a9a9a9;}
.do-box .list span{display: flex;width: 100%;vertical-align: middle;justify-content: center;text-align: center;align-items: center;color:#666;}

/* 作品展示 定义样式 */
.works-container,.team-container,.footer-container{padding:100px 0;}
.title-wrap{text-align: center;}
.title-wrap h2{display: inline-block;font-size: 36px;margin-bottom: 14px;color:#333;position: relative;margin-top:0;}
.title-wrap h2::before,.title-wrap h2::after{content:"";position: absolute;width:80px;height:1px;background-color:#333;top:50%;}
.title-wrap h2::before{left:-110px;}
.title-wrap h2::after{right:-110px;}
.title-wrap p{font-size: 16px;color:#999;text-transform: uppercase;}
.works-nav{max-width:880px;margin:0 auto;text-align: right;}
.works-nav li{display: inline-block;width:calc(20% - 15px);margin:5px;line-height: 32px;border-radius: 16px;text-align: center;background-color:#339999;color:#fff;font-size:18px;cursor: pointer;}
.works-nav li.current{background-color:#69dddf;}
.works-container .works-img{margin:25px -10px 0;}
.works-container .works-list{padding:10px;}

/* 选择我们有什么优势 */
.other-container{height:260px;background:url(../img/bg2.jpg) no-repeat center center;padding:50px 0 0;}
.other-container h2{text-align: center;font-size: 36px;color: #fff;margin-top:0;margin-bottom: 50px;}
.choose-wrap{max-width:560px;margin:0 auto;}
.choose-list i {color: #339999;font-size: 40px;line-height: 80px;}
.choose-list p{color:#fff;font-size: 18px;margin-top:20px;}
.choose-list .icon-box{width:80px;height:80px;background-color:#fff;border-radius: 50%;margin-right:24px;text-align: center;}

/* 设计团队 */
.designer-wrap{margin-top:40px;}
.designer-wrap .designer-list{text-align: center;margin-bottom: 30px;}
.designer-wrap .designer-list .designer-img{width:120px;height:120px;border-radius: 50%;margin:0 auto;}
.designer-wrap .designer-list h2{font-size:18px;color:#666;}
.designer-wrap .designer-list p{font-size: 14px;color:#999;}

/* 追求精彩是一种态度 */
.wonder-container{background:url(../img/bg3.jpg) no-repeat center center;}
.wonder-container .other-content{color:#fff;text-align: center;}
.wonder-container h2{margin-bottom: 36px;}
.wonder-container h3{margin-bottom: 20px;}

/* footer */
.footer-container{background-color: #3d3f3e;}
.footer-container .row{font-size: 14px;color:#339999;line-height: 24px;}
.footer-container .row a{color:#339999;}
.footer-container .row1,.footer-container .row2{border-right:1px solid #fff;}
.footer-container .row1{padding-right:40px;}
.footer-container .row2,.footer-container .row3{padding-left: 80px;}
.footer-container .row h4{color:#f1f1f1;margin-top:0;margin-bottom:30px;}
.footer-container .row1 p{text-align: justify;}
.footer-container .social-box{margin-top:20px;position: relative;}
.footer-container .social-box a{display: inline-block;width:32px;height:32px;background-color:#4e4e4e;border-radius: 50%;text-align: center;line-height: 32px;font-size: 16px;color:#339999;margin-right:10px;}
.footer-container #met-weixin-content{width:130px;position: absolute;right:-40px;top:-150px;}
.footer-container #met-weixin-content::after{content:"";width:0;height:0;border-left:6px solid transparent;border-top:6px solid #fff;border-right:6px solid transparent;border-bottom: 6px solid transparent;position: absolute;left: calc(50% - 6px);}
.footer-container .row2 span{margin-left:10px;}
.footer-container .row3 p{text-align: center;margin-top: 10px;}

		/* video */
		.video{
			width: 100%;
			height: 100%;
		}

		/* modal */
 .popup {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: fixed;
	 width: 100vw;
	 height: 100vh;
	 bottom: 0;
	 right: 0;
	 background-color: rgba(0, 0, 0, .80);
	 z-index: 2;
	 visibility: hidden;
	 opacity: 0;
	 overflow: hiden;
	 transition: 0.64s ease-in-out;
}
 .popup-inner {
	 position: relative;
	 bottom: -100vw;
	 right: -100vh;
	 display: flex;
	 align-items: center;
	 max-width: 800px;
	 max-height: 600px;
	 width: 60%;
	 height: 80%;
	 background-color: #fff;
	 transform: rotate(32deg);
	 transition: 0.64s ease-in-out;
}
 .popup__photo {
	 display: flex;
	 justify-content: flex-end;
	 align-items: flex-end;
	 width: 25%;
	 height: 25%;
	 overflow: hidden;
}
.popup__fullSize {
	display: block;
	padding: 0 0;
	width: 100%;
	height: 100%;
 	overflow: auto;
}
 .popup__photo img {
	 width: 100%;
	 height: auto;
}
 .popup__text {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 width: 60%;
	 height: 100%;
	 padding: 4rem;
}
.popup__poster_text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 60%;
	height: 100%;
	padding: 4rem;
}
 .popup__text h1 {
	 font-size: 2rem;
	 font-weight: 600;
	 margin-bottom: 2rem;
	 text-transform: uppercase;
	 color: #0a0a0a;
}
 .popup__text p {
	 font-size: 0.875rem;
	 color: #686868;
	 line-height: 1.5;
}
 .popup:target {
	 visibility: visible;
	 opacity: 1;
}
 .popup:target .popup-inner {
	 bottom: 0;
	 right: 0;
	 transform: rotate(0);
}
 .popup__close {
	 position: absolute;
	 right: -1rem;
	 top: -1rem;
	 width: 3rem;
	 height: 3rem;
	 font-size: 0.875rem;
	 font-weight: 300;
	 border-radius: 100%;
	 background-color: #0a0a0a;
	 z-index: 4;
	 color: #fff;
	 line-height: 3rem;
	 text-align: center;
	 cursor: pointer;
	 text-decoration: none;
}

/* 底部版权信息 */
.copy{text-align: center;color:#7e7272;background-color: #282928;line-height: 50px;font-size:14px;}
.copy p{margin:0;}


/*媒体查询*/
		@media screen and (max-width:1199px){
			/* 我们能做什么 */
			.do-container .do-title{margin-left: 160px;}
			.do-box{margin-right: 110px;}
		}
		@media screen and (max-width:991px){
			/* 我们是谁 */
			.us-container span{left:0;}
			/* 我们能做什么 */
			.do-container .do-title{margin-left: 60px;}
			.do-box{margin-right: 50px;}
			/* 选择我们有什么优势 */
			/* .choose-list .icon-box{width:60px;height:60px;margin-right: 10px;}
			.choose-list i{line-height: 60px;font-size:24px;}
			.choose-list p{margin-top:10px;} */
			/* footer */
			.footer-container .row2, .footer-container .row3{padding-left: 30px;}
			.footer-container .row2 span{font-size: 12px;}
		}
		@media screen and (max-width:768px){
			.us-container{padding:30px 0;}
			.works-container, .team-container, .footer-container{padding:50px 0;}
			.nav-container ul{display: none;}
			.nav-xl{display: block;}
			.nav-container ul.nav-xl-ul,.nav-container ul.nav-xl-ul li{float:none;text-align:center;}
			.nav-container ul.nav-xl-ul{position:absolute;width:100%;left:0;margin-top:116px;background-color:#339999;padding: 1.5em 0;display: none}
			.nav-container ul.nav-xl-ul li{padding:0;}
			.nav-container ul.nav-xl-ul a{line-height: 3em;color:#fff;}
			.footer-container .row1, .footer-container .row2{margin-bottom:60px;}
		}
		@media screen and (max-width:720px){
			.banner{height:500px;}
			/* 我们能做什么*/
			.do-container .do-title{margin-left: 0;position: relative;top:30px;}
			.do-container .do-title::after{top:30px;}
			/* .do-box{width:auto;margin-top:40px;} */
			.do-box{margin-top:-116px;}
			.popup__fullSize{ height: 50%;}
		}
		@media screen and (max-width:680px){
			.do-box .list{margin:10px;}
			.do-box{margin-top:-60px;}
			.popup__fullSize{ height: 50%;}
		}
		@media screen and (max-width:650px){
			.do-box{margin-top: 0;position: absolute;right: 30px;top: 110px;margin-right:0;width:354px;}
			.works-nav li{width:calc(100% / 3 - 15px);}
			.popup__fullSize{ height: 50%;}
		}
		@media screen and (max-width:610px){
			.do-box .list{width:90px;height:90px;}
			.choose-wrap{width:100%;}
			.choose-list .icon-box{width:60px;height:60px;}
			.choose-list i{line-height: 60px;font-size: 24px;}
			.choose-list p{margin-top:10px;font-size: 16px;}
			.popup__fullSize{ height: 50%;}
		}
		@media screen and (max-width:520px){
			.us-container .fl h2{font-size:32px;line-height: 40px;}
			.us-container .fl p{font-size:20px;}
			.do-box{width:300px;top:140px;}
			.do-box .list{margin:5px;}
			.choose-list .icon-box{margin-right:10px;}
			.choose-list p{font-size:14px;}
			.popup__fullSize{ height: 50%;}
		}
		@media screen and (max-width:480px){
			.banner{height:450px;}
			.do-box{position: static;}
			.us-container .fl h2{font-size:28px;}
			.us-container .fl p{font-size:16px;line-height: 32px;}
			.choose-list .icon-box{width:56px;height:56px;margin:0 auto;}
			.choose-list .icon-box,.choose-list p{float:none;}
			.other-container h2{font-size:24px;margin-bottom:30px;}
			.choose-list p{text-align: center;}
			.wonder-container h3{font-size:18px;}
			.popup__fullSize{ height: 50%;}
		}
		@media screen and (max-width:414px){
			.designer-wrap .designer-list{width:50%;}
			.us-container .fl{padding-left:80px;}
			.us-container span{width:60px;height:60px;}
			.us-container span::before{width:36px;left: calc(50% - 18px);top: 33px;}
			.us-container span::after{top:28px;}
			.popup__fullSize{ height: 50%;}
		}
		@media screen and (max-width:375px){
			.title-wrap h2{font-size:24px;margin-bottom:5px;}
			.title-wrap h2::before, .title-wrap h2::after{width:56px;}
			.title-wrap h2::before{left:-70px;}
			 .title-wrap h2::after{right:-70px;}
			.title-wrap p{font-size:12px;}
			.works-nav li{width:calc(50% - 15px);font-size:16px;}
			.popup__fullSize{ height: 50%;}
		}

 