	<!-- 作品展示 start -->
	<div class="works-container contain3" id="works">
		<div class="container">
			<div class="title-wrap">
				<h2>作品展示</h2>
				<p>Exhibition of works</p>
			</div>
			<ul class="works-nav">
				<li class="current">LOGO设计</li>
				<li class="">网页设计</li>
				<li class="">名片</li>
				<li class="">宣传海报</li>
				<li class="">产品包装</li>
				<li class="">期刊设计</li>
				<li class="">电商设计</li>
				<li class="">影楼设计</li>
				<li class="">影视后期</li>
			</ul>
			<div class="works-img clearfix" id="logo">
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<!-- modal start -->
						<a class="button" href="#popup">
							<div class="img-box">
								<img src="img/work-img1.jpg" alt="">
							</div>
						</a>
						<div class="popup" id="popup">
							<div class="popup-inner">
								<div class="popup__photo">
									<img src="img/logo.png" alt="">
								</div>
								<div class="popup__text">
									<p>这个logo由 平面组设计并制作</p>
								</div>
								<a class="popup__close" href="#work">X</a>
							</div>
						</div>
						<!-- modal end -->
					</div>

				</div>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<img src="img/work-img1.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<img src="img/work-img1.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<img src="img/work-img1.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<img src="img/work-img1.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<img src="img/work-img1.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<img src="img/work-img1.jpg" alt="">
					</div>
				</div>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<img src="img/work-img1.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="works-img clearfix" id="web" hidden>
				<div class="col-md-3 col-xs-6 works-list">
					<div class="img-box">
						<!-- modal start -->
						<a class="button" href="#popup__fullSize">
							<div class="img-box">
								<img src="img/webdesign.jpg" alt="">
							</div>
						</a>
						<div class="popup" id="popup__fullSize">
							<div class="popup-inner">
								<div class="popup__fullSize">
									<img src="img/webdesign.jpg" alt="">
								</div>
								<a class="popup__close" href="#work">X</a>
							</div>
						</div>
						<!-- modal end -->
					</div>
				</div>
			</div>
			<div class="works-img clearfix" id="nameCard" hidden>
					<div class="col-md-3 col-xs-6 works-list">
						<div class="img-box">
							<!-- modal start -->
							<a class="button" href="#popup_name_card">
								<div class="img-box">
									<img src="img/designer2.png" alt="">
								</div>
							</a>
							<div class="popup" id="popup_name_card">
								<div class="popup-inner">
									<div class="popup__photo">
										<img src="img/designer2.png" alt="">
									</div>
									<div class="popup__text">
										<p>名片由xxx设计</p>
									</div>
									<a class="popup__close" href="#work">X</a>
								</div>
							</div>
							<!-- modal end -->
						</div>
					</div>
				</div>
		</div>
	</div>
	<script>
		$(".works-nav li").click(function () {
			var x = $(this).index();
			$(this).addClass("current").siblings("li").removeClass("current");
			$(".works-container .works-img").fadeOut();
			$(".works-container .works-img").eq(x).fadeIn();
		});
	</script>
	<!-- 作品展示 end -->
